PORT=8443
HOST=localhost
JWT_SECRET=change_this_to_a_long_random_string
JWT_EXPIRES_IN=1h
DB_PATH=./src/db/app.db
TLS_KEY_PATH=./keys/server/server.key
TLS_CERT_PATH=./keys/server/server.crt
CA_CERT_PATH=./security/pki/ca/certs/ca.crt
CA_KEY_PATH=./security/pki/ca/keys/ca.key
CA_SERIAL_PATH=./security/pki/ca/keys/ca.srl
PKI_DIR=./security/pki
DOCTOR_KEYSTORE_DIR=./security/pki/doctors
VALIDATOR_KEY_PATH=./security/pki/validator/validator.key.pem
VALIDATOR_PUBLIC_KEY_PATH=./security/pki/validator/validator.public.pem
UPLOADS_DIR=./storage
MAX_UPLOAD_BYTES=10485760
REPLAY_WINDOW_SECONDS=300
ENCRYPTION_KEY_B64=replace_with_32_byte_base64_key
KEY_WRAP_ITERATIONS=210000
ADMIN_DEMO_OTP=123456

MTLS_ENABLED=true
MTLS_PORT=9443
MTLS_BIND_HOST=127.0.0.1
MTLS_PUBLIC_HOST=localhost
MTLS_BASE_URL=https://localhost:9443
MTLS_CLIENT_IP_FAMILY=4
MTLS_SERVER_KEY_PATH=./security/pki/server/server-key.pem
MTLS_SERVER_CERT_PATH=./security/pki/server/server-cert.pem
MTLS_TRUSTED_CA_PATH=./security/pki/hospital-ca/ca-cert.pem
MTLS_MIN_VERSION=TLSv1.2
MTLS_REQUIRE_CLIENT_CERT=true
MTLS_CERT_PINNING_ENABLED=true
MTLS_SERVER_CERT_SHA256=
MTLS_REQUEST_TIMEOUT_MS=20000
MTLS_CLIENT_IDENTITIES_DIR=./clients/identities
FABRIC_ORDERER_OPERATIONS_PORT=10443

FABRIC_ENABLED=true
FABRIC_REQUIRED=true
FABRIC_CHANNEL_NAME=medicalchannel
FABRIC_CHAINCODE_NAME=medicalrecords
FABRIC_MSP_ID=Org1MSP
FABRIC_PEER_ENDPOINT=localhost:7051
FABRIC_PEER_HOST_ALIAS=peer0.org1.example.com
FABRIC_TLS_CERT_PATH=./blockchain/runtime/fabric-samples/test-network/organizations/peerOrganizations/org1.example.com/peers/peer0.org1.example.com/tls/ca.crt
FABRIC_ID_CERT_PATH=./blockchain/runtime/fabric-samples/test-network/organizations/peerOrganizations/org1.example.com/users/User1@org1.example.com/msp/signcerts/cert.pem
FABRIC_ID_KEY_DIR=./blockchain/runtime/fabric-samples/test-network/organizations/peerOrganizations/org1.example.com/users/User1@org1.example.com/msp/keystore
FABRIC_PATIENT_HASH_PEPPER=
FABRIC_REQUEST_TIMEOUT_MS=20000
FABRIC_COMMIT_TIMEOUT_MS=60000
